*,
::before,
::after {
  box-sizing: border-box;
}

html,
body,
.container {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}
nav ul {
  display: flex;
  justify-content: space-between;
}

nav ul li {
  list-style-type: none;
  display: inline;
}
body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}
.main {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 24px;
  color: #0756a0;
  margin-top: 1rem;
}
.quizCard {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 22px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
  text-align: center;
}
.quizHomescreenStatement {
  margin-bottom: 1rem;
  font-weight: bold;
}
.quizStartButton {
  border: none;
  background-color: rgb(20, 150, 68);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 12px 20px;
  text-align: center;
  cursor: pointer;
}
.quiz {
  display: none;
}
.answerBox {
  display: inline-block;
}
.answerBoxOptions {
  border: none;
  background-color: rgb(20, 150, 68);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: hsl(0, 0%, 100%);
  display: block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 12px 20px;
  text-align: center;
  cursor: pointer;
}
.quizResults {
  font-size: 30px;
  width: 100%;
  color: rgb(49, 62, 203);
  font-weight: bold;
  text-align: center;
}
.quizHomescreenImage {
  width: 450px;
  height: 250px;
}
